@use "base/variables" as v;
@use "base/mixins" as m;

.site-header {
  padding-top: 0;
  margin-top: 0;
}



#masthead {

  .col-superior {
    @include m.tablet {
      margin-top: 40px;
      .site-branding {
        margin-top: 0px;
      }
    }
  }

  @include m.tablet{
    .secondary-navigation{
      position: relative;
      left: 60%;
      width: 15%;
    }
    .site-search{
      position: relative;
      right: 25%;
      width: 50%;
      margin-top: 1rem;
      .woocommerce-product-search::before{
        color: white;
        background-color: #003586;
        padding: 15.5px 25px;
        position: absolute;
        border-radius: 0 20px 20px 0;
        top: 0.1%;
        left: 90%;
        font-size: 1.2rem;
      }
    }
  }
  // .site-search form {
  //   position: absolute;
  //   top: 30%;
  //   left: 50%;
  //   transform: translate(-50%, -50%); /* Centra horizontal y verticalmente */
  //   input {
  //     border-radius: 0px;
  //     border: 1px solid rgba(174, 174, 174, 0.766);
  //   }
  //   input::placeholder{
  //     color: #f8f9fa;
  //   }
  //   input[type="search"]:focus  {
  //     outline: none !important;
  //     outline-color: none !important;
  //   }
  //   .woocommerce-product-search::before{
  //     background-color: v.$colorButtonAddCart;
  //   }
  // }

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .col-full {
    li {
      a {
        color: rgb(248, 248, 248);
      }
    }
  }
  @include m.tablet {
    input {
      border: 1px solid rgb(255, 255, 255);
    }
    .woocommerce-product-search {
      color: rgb(252, 252, 252);
    }
  }
  .col-superior {
    // position: fixed;
    

    .site-branding {
      img {
        max-width: 120px;
      }
    }
  }

  //Menu items
  .menu-item {
    padding: 10px 10px;
    a {
      text-decoration: none;
      text-transform: uppercase;
      padding: 10px 0px;
      &:hover {
        border-bottom: 1.5px solid rgba($color: v.$white, $alpha: 0.8);
      }
    }
  }

  .current_page_item {
    a {
      border-bottom: 1.5px solid rgba($color: v.$white, $alpha: 0.8);
    }
  }

  //sm header display
  .storefront-primary-navigation {
    @include m.telefono {
      background: rgb(255, 255, 255) !important;
      button {
        border: 1px solid black;
        span {
          color: black;
        }
      }
      button::before {
        color: black !important;
      }
    }
    /*Media queries ESPECIALES*/
    @media (min-width: 720px) and (max-width: 767px) {
      background: rgb(255, 255, 255) !important;
      padding: 50px 0 40px 0;
      z-index: 100;

      button {
        border: 1px solid black;
        span {
          color: black;
        }
      }
      button::before {
        color: black !important;
      }

      // .handheld-navigation {
      //   padding-top: 25px;
      // }

      .menu {
        li {
          a {
            text-decoration: none;
            text-transform: uppercase;
            color: black !important;
          }
          a:hover {
            color: v.$colorButtonAddCart;
          }
        }
      }
    }
    /*Cierre de media queries ESPECIALES*/

    .menu {
      li {
        a {
          @include m.telefono {
            text-decoration: none;
            text-transform: uppercase;
            color: black !important;
          }
        }
        a:hover {
          color: v.$white;
        }
      }
    }
  }

  @include m.telefono {
    margin-top: 0px;
  }

  .site-branding {
    @include m.telefono {
      margin-top: 10px;
      position: fixed;
      width: 50%;
      z-index: 110;
    }
    @media (min-width: 720px) and (max-width: 767px) {
      margin-top: 10px;
      position: fixed;
      width: 50%;
      z-index: 110;
    }
  }


  @media (min-width: 1064px ) and (max-width: 1099px) {
    padding: 25px 40px;
  }
}

//Estilos para el carousel

.home .text {
  position: static !important;
}

.container-carousel {
  padding: 0 !important;
  display: flex;
  flex-direction: column;

  #masthead {
    position: fixed;
    width: 100%;
    top: 0;
    background: transparent;
    margin-bottom: 0px;
    border-bottom-color: transparent;
    @media (min-width: 768px) {
      padding-top: 25px;
    }
    @include m.telefono {
      .storefront-primary-navigation {
        padding: 50px 0;

        .handheld-navigation {
          padding-top: 25px;
        }
      }
    }
  }
  .widget_product_search form:before {
    color: #000;
  }

  #carouselExampleIndicators {
    .carousel-item {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      width: 100%;
      height: 600px;
      @include m.tablet {
        height: 694px;
      }
    }

    button {
      &:hover {
        background-color: transparent;
      }

      font-size: 36px;
      opacity: inherit;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: black;
      opacity: 0.4;
      z-index: 1;
    }
  }

  .carousel-inner {
    .btn-carousel-header {
      width: 160px;
    }
    button {
      background-color: v.$colorButtonAddCart;
      z-index: 2;
      position: absolute;
      text-transform: uppercase;
      color: v.$white;
      top: 80%;
      left: 50%;
      transform: translateX(-50%);
      font-size: 16px !important;
      @include m.telefono {
        top: 70%;
        left: 50%;
        font-size: 16px !important;
      }
    }
    button:hover {
      background-color: v.$colorButtonAddCartHover !important;
    }
    h1 {
      z-index: 2;
      position: absolute;
      text-align: center;
      color: v.$white;
      top: 45%;
      left: 10%;
      right: 10%;
      width: 80%;
      font-size: 48px !important;
      @include m.telefono {
        top: 35%;
        right: 5%;
        font-size: 30px !important;
        text-align: right;
      }
    }
    p {
      margin-top: 50px;
      z-index: 2;
      position: absolute;
      text-align: center;
      color: v.$white;
      top: 55%;
      left: 30%;
      right: 30%;
      font-size: 22px !important;
      @include m.telefono {
        text-align: right;
        margin-top: 0;
        top: 55%;
        right: 5%;
        font-size: 18px !important;
      }
      @include m.tablet {
        margin-top: 60px;
      }
    }
  }
}

//Menu toggle
.storefront-primary-navigation {
  .menu-toggle {
    background: transparent;
    color: v.$white;
    border: 1px solid rgb(247, 247, 247);
    &:focus {
      // background: transparent;
      // color: v.$white;
      // border: 1px solid rgb(247, 247, 247) !important;
    }
  }

  button.menu-toggle:after,
  button.menu-toggle:before,
  button.menu-toggle span:before {
    background-color: black;
  }
  @include m.tablet {
    button.menu-toggle:after,
    button.menu-toggle:before,
    button.menu-toggle span:before {
      background-color: black;
      button:hover {
        button.menu-toggle:after,
        button.menu-toggle:before,
        button.menu-toggle span:before {
          background-color: rgb(255, 10, 10) !important;
        }
      }
    }
  }
}

//Menu background animate
.backgroundMenuAnimate {
  input {
    border: 1px solid black !important;
    color: black !important;
  }
  input::placeholder {
    color: black !important;
  }
  .col-superior {
    // border-bottom: 1px solid rgb(28, 28, 28) !important;
  }
  .woocommerce-product-search::before {
    color: rgb(255, 255, 255) !important;
  }
  .current-menu-item a {
    border-bottom: 1.5px solid rgba(14, 14, 14, 0.8) !important;
  }

  @include m.tablet {
    background: rgb(255, 255, 255) !important;
    margin-top: 0px;
    // padding-top: 20px;
    a {
      color: black !important;
    }
    a:hover {
      color: v.$colorButtonAddCart !important;
    }
    button {
      // border: 1px solid rgb(255, 255, 255) !important;
    }

    .woocommerce-mini-cart__buttons {
      a {
        color: v.$white !important;
      }
    }
  }
}

/*Hedaer top other pages*/
.site-header-pages {
  
  .storefront-primary-navigation {
    @include m.telefono {
      position: fixed;
      z-index: 100;
      width: 100%;
      top: 0;
      padding: 50px 0 25px 0;
    }
    @media (min-width: 720px) and (max-width: 767px) {
      position: fixed;
      z-index: 10;
      width: 100%;
      top: 0;
      padding: 50px 0 25px 0;
    }

    .handheld-navigation {
      padding-top: 45px;
    }
  }

  @include m.tablet {
    height: 355px;
    position: inherit;
    width: 100%;

    .site-branding {
      margin-top: 15px;
    }
  }
  @media (min-width: 720px) and (max-width: 767px) {
    padding: 0 0 200px 0;
  }

  @include m.telefono {
    // background-image: none !important;
    height: 355px;
    position: inherit;
    width: 100%;

    .site-branding {
      margin-top: 15px;
    }
  }

  @media (min-width: 768px) {
    position: fixed;
  }

  //top header title
  .top-header-title {
    height: 300px;
    position: absolute;
    width: 90%;
    top: 5%;
    h2 {
      margin-top: 200px;
      text-align: center;
      color: v.$white;
    }
  }
}

.storefront-breadcrumb {
  @include m.desktop {
    // margin-top: 220px !important;
  }


  @media (min-width: 768px) {
    margin-top: 350px !important;
    margin-bottom: 20px;
  }

  // @media (min-width: 720px) and (max-width: 767px) {
  //   margin-top: 350px !important;
  // }

  
}

//search form pages
form.woocommerce-product-search {
  input[type="search"] {
    background: #fff;
    color: 000;
    border: 1px solid v.$white;
    border-radius: 30px;
  }
}

//Menu secundario items
#menu-menu-secundario {
  li {
    a {
      display: none;
      .icon {
        font-size: 22px;
      }
    }
  }
}



//custom pages header

.home {
  #masthead {
    // padding-top: 20px;
    padding-bottom: 20px;
    // background: none;
    .col-superior {
      margin-top: 0;
    }

    .col-inferior {
      padding-top: 20px;
    }
  }
  
}